[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
python-mpd2 = "*"

[packages]
pyserial = "*"
paho-mqtt = "*"
PyYAML = "*"

[requires]
#python_version = "3.7"

[scripts]
lint = "pylint --rcfile=pylintrc turris-gadgets_mqtt_gateway.py demos"
yamlcheck = "python -c \"import yaml; yaml.load(open('config.template.yaml')); yaml.load(open('demos/config.demo_mpd_volume_thermostat.template.yaml')); yaml.load(open('demos/config.demo_remote_control_socket.template.yaml'));\""